@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

body {
  color: var(--text-color--);
}

img {
  display: block;
  max-width: 100%;
}

.container {
  padding: 0;
}

section {
  margin-top: 15px;
  margin-bottom: 15px;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 20px;
}

div {
  font-size: 20px;
}

p, li, button, a {
  font-size: 25px;
}

.menu {
  background-color: #4267cb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
}

.menu a {
  color: white;
}

.menu a:link {
  text-decoration: none;
}

.prod {
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.prod:hover {
  color: #d21310;
}

.dropdown {
  position: relative;
}

.dropdown .link {
  color: black;
  font-size: 22px;
}

.dropdown .link:hover {
  color: blue;
  font-weight: bold;
}

.dropdown-menu {
  position: absolute;
  z-index: 1;
  top: 50px;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 7px black;
          box-shadow: 0 4px 7px black;
  opacity: 0;
  width: 350px;
  height: 220px;
}

.dropdown > .prod:focus + .dropdown-menu {
  opacity: 1;
}

i {
  padding-left: 20px;
}

.dropdown-menu1, .dropdown-menu2, .dropdown-menu3, .dropdown-menu4, .dropdown-menu5 {
  display: none;
}

.dropdown-menu1 ul, .dropdown-menu2 ul, .dropdown-menu3 ul, .dropdown-menu4 ul, .dropdown-menu5 ul {
  list-style: none;
}

.dropdown-menu1 ul li, .dropdown-menu2 ul li, .dropdown-menu3 ul li, .dropdown-menu4 ul li, .dropdown-menu5 ul li {
  font-size: 20px;
}

.dropdown-menu ul li:hover .dropdown-menu1 {
  font-size: 20px;
  display: block;
  position: absolute;
  left: 250px;
  background-color: white;
  width: 200px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 7px black;
          box-shadow: 0 4px 7px black;
  padding: 15px;
  cursor: pointer;
  left: 220px;
  top: 15px;
}

.dropdown-menu ul li:hover .dropdown-menu1 li:hover {
  background-color: blue;
  color: white;
}

.dropdown-menu ul li:hover .dropdown-menu2 {
  font-size: 20px;
  display: block;
  position: absolute;
  left: 250px;
  background-color: white;
  width: 200px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 7px black;
          box-shadow: 0 4px 7px black;
  padding: 15px;
  cursor: pointer;
  left: 320px;
  top: 40px;
}

.dropdown-menu ul li:hover .dropdown-menu2 li:hover {
  background-color: blue;
  color: white;
}

.dropdown-menu ul li:hover .dropdown-menu3 {
  font-size: 20px;
  display: block;
  position: absolute;
  left: 250px;
  background-color: white;
  width: 200px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 7px black;
          box-shadow: 0 4px 7px black;
  padding: 15px;
  cursor: pointer;
  top: 80px;
  left: 220px;
}

.dropdown-menu ul li:hover .dropdown-menu3 li:hover {
  background-color: blue;
  color: white;
}

.dropdown-menu ul li:hover .dropdown-menu4 {
  font-size: 20px;
  display: block;
  position: absolute;
  left: 250px;
  background-color: white;
  width: 200px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 7px black;
          box-shadow: 0 4px 7px black;
  padding: 15px;
  cursor: pointer;
  top: 100px;
  left: 320px;
}

.dropdown-menu ul li:hover .dropdown-menu4 li:hover {
  background-color: blue;
  color: white;
}

.dropdown-menu ul li:hover .dropdown-menu5 {
  font-size: 20px;
  display: block;
  position: absolute;
  left: 250px;
  background-color: white;
  width: 200px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 7px black;
          box-shadow: 0 4px 7px black;
  padding: 15px;
  cursor: pointer;
  top: 130px;
  left: 240px;
}

.dropdown-menu ul li:hover .dropdown-menu5 li:hover {
  background-color: blue;
  color: white;
}

.hero {
  height: 400px;
  background-image: url("images/Health.jpg");
  background-size: auto;
}

.top {
  text-align: center;
}

.top-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

.product1, .product2, .product3 {
  margin: 5px;
  border: 1px solid #d2d2fb;
  width: 280px;
  height: 320px;
  position: relative;
}

.button {
  position: absolute;
  bottom: 10%;
  left: 30%;
  background-color: #dff7f7;
  border: 2px solid #c3c3f1;
  color: #b9b4b4;
}

nav ul li {
  list-style-type: none;
  padding: 10px;
}

.prod-categories {
  list-style-type: none;
}

.hamburger-menu {
  color: white;
  padding: 5px;
}

.hero2 {
  height: 400px;
  background-image: url("images/promotion.jpg");
  background-size: cover 30%;
  text-align: center;
}

.summer {
  text-align: center;
  color: black;
  margin-bottom: 2rem;
}

.shop {
  padding: 30px;
  background-color: #f0fafe;
  margin-top: 2rem;
}

.shop-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 2rem;
}

.product-box {
  position: relative;
}

.product-box:hover {
  padding: 10px;
  border: 1px solid black;
}

.prod-img {
  width: 100%;
  height: 280px;
  margin-bottom: 0.25rem;
}

.prod-title {
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.price {
  font-weight: 500;
}

.add-cart {
  position: absolute;
  right: 0;
  bottom: 0px;
  cursor: pointer;
  padding: 20px;
}

.add-cart:hover {
  background-color: #55e8eb;
}

.cart {
  position: fixed;
  top: 0;
  right: -410px;
  width: 400px;
  min-height: 60vh;
  padding: 15px;
  background-color: #f5f4f1;
  -webkit-box-shadow: -2px 0 4px #040303;
          box-shadow: -2px 0 4px #040303;
}

.cart.active {
  right: 0;
}

#cart-icon {
  margin-top: 15px;
  font-size: 30px;
}

.cart-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32% 50% 18%;
      grid-template-columns: 32% 50% 18%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.cart-title {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.cart-img {
  width: 300px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 3px;
}

.cart-quantity {
  border: 1px solid black;
  outline-color: black;
  width: 3rem;
  text-align: center;
  font-size: 1rem;
}

.detail-box {
  display: -ms-grid;
  display: grid;
  row-gap: 0.5rem;
}

.cart-prod-title {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.cart-remove {
  font-size: 24px;
  color: #e41e1e;
  cursor: pointer;
}

.total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0.5rem;
  border-top: 1.5px solid black;
}

.total-title {
  font-size: 1rem;
  font-weight: 600;
}

.total-price {
  margin-left: 0.5rem;
}

.btn-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 12px;
  border: none;
  background-color: blue;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.btn-buy:hover {
  background-color: #05b005;
}

#close-cart {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
}

footer {
  height: 300px;
  background-color: #4267cb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px;
  color: white;
}

footer ul {
  list-style: none;
}

footer ul li {
  font-size: medium;
  font-weight: lighter;
  color: white;
}

footer ul li a {
  color: white;
  font-size: medium;
}

footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

footer .copyright p {
  font-size: small;
}
/*# sourceMappingURL=main.css.map */