.sign {
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

.formular{
    width: 650px;
    height: 400px;
    border: 2px solid rgb(213, 255, 151);
    background-color: antiquewhite;
    
    form{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        text-align: center;
        margin: 50px;
        margin-left: 150px;
        width: 400px;
       
        div{
            padding: 10px;
            
        }
        .div1{
        grid-column: 1/2 ;
        grid-row:1/2;
        input{
        border: 2px solid rgb(161, 197, 209);
        width: 180px;
                
             }
        }
        .div2{
        grid-column: 2/3 ;
        grid-row:1/2;   
        input{
            border: 2px solid rgb(161, 197, 209);
            width: 180px;
         } 
        }
        .div3{
        grid-column: 1/2 ;
        grid-row:2/3;
        input{
            border: 2px solid rgb(161, 197, 209);
            width: 180px;
         }
        }
        .div4{
        grid-column: 2/3 ;
        grid-row:2/3;
        input{
            border: 2px solid rgb(161, 197, 209);
            width: 180px;
         }
        }
        .div5{
        grid-column: 1/2 ;
        grid-row:3/4;
        input{
            border: 2px solid rgb(161, 197, 209);
            width: 180px;
         }
        }
        .div6{
        grid-column: 2/3 ;
        grid-row:3/4;  
        input{
            border: 2px solid rgb(161, 197, 209);
            width: 180px;
         }
        }
       .submit{
        grid-column: 1/ span 2;
        grid-row: 6/7;
       
        button{
            display: flex;
            align-items: center;
            margin-left: 100px;
            width: 150px;
            height: 30px;
            background-color: rgb(87, 192, 87);
            color:white;
            font-weight: bolder;
            text-align: center;
            padding-left: 50px;
        }
        }
    }
    .sign-up{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
  
}
